.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
}

.navbar-links {
  list-style-type: none;
  display: flex;
  gap: 15px;
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.navbar-links a:hover {
  background-color: #4b7bff;
  border-radius: 4px;
}

.right-side {
  margin-left: auto;
}

.navbar-links a.account-name {
  font-weight: 700;
  font-size: large;
  color: orange;
}

.navbar-links li.role-name {
  font-weight: 300;
  font-size: medium;
  color: rgb(82, 255, 189);
}

.user-info {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.user-info .account-name, 
.user-info .role-name {
  padding: 5px 0;
}


